<div class="card text-center">
    <div class="card-header">
      <h1>PROFILE</h1>
    </div>
    <div class="card-body">
        <div id="Info">
            
            <p>
                Name:       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   {{member.memberName}}
                
            </p>
            <p>
                Date of Birth: &nbsp;&nbsp;&nbsp;&nbsp; {{member.dob}}
            </p>
            <p>
                Mobile No:    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{member.mobileNo}}
            </p>
          
            <p>
                City:      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   {{member.city}}
            </p>
            <p>
                State:    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   {{member.state}}
            </p>
        </div>

    </div>
  </div>
