<div>
  <div class="col-md-12">
    <app-navbar></app-navbar>
  </div>
<div>
    <div class="row">
        <div class="col-md-3 sidebar">
          <div >
              <img src="../../../assets/images/user.png" class="user-logo">
  
              <span class="welcome-msg"> Welcome {{admin?.name}} </span>
          </div>
          <div>
            <br>
            <ul >
              <li><a class="list-group-item" routerLink="/admin/profile">Profile</a> </li>
              <li>  <a class="list-group-item" routerLink="/admin/view-claim">View All Claims</a>  </li>
              <!-- <li> <a class="list-group-item" routerLink="//ticket-list">View Tickets</a>  </li>
              <li> <a class="list-group-item" routerLink="/employee/leave-list">View Leaves</a>  </li> -->
  
            </ul>
          </div>
  
        </div>
        <div class="col-md-9">
          <router-outlet></router-outlet>
        </div>
    </div>
  </div>
</div>