<div class="signup-section">
    <form [formGroup]="signUpForm" (submit)="onSignUp()">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4 signup">
        <div class="card">
          <h5 class="card-header">Sign Up</h5>
          <div class="card-body">
            <div class="mb-3 alert alert-primary" *ngIf="msg">
                {{msg}}
            </div>

            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Name</label>
              <input type="text" class="form-control" placeholder="Enter your name"
              formControlName="memberName">
              <span class="error_msg" *ngIf="signUpForm.controls['memberName'].touched &&
                          signUpForm.controls['memberName'].invalid">
                <span *ngIf="signUpForm.controls['memberName'].errors['required']">Name is required</span>
                <span *ngIf="signUpForm.controls['memberName'].errors['pattern']">Valid name is required</span>
              </span>
            </div>

            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Email/Username</label>
              <input type="email" class="form-control"  placeholder="name@example.com"
              formControlName="username">
              <span class="error_msg" *ngIf="signUpForm.controls['username'].touched &&
                signUpForm.controls['username'].invalid">
                <span *ngIf="signUpForm.controls['username'].errors['required']">Username is required</span>
                <span *ngIf="signUpForm.controls['username'].errors['pattern']">please enter valid email</span>
              </span>
            </div>

            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">House No</label>
              <input type="text" class="form-control" placeholder="Enter your House No" formControlName="hNo">
              <span class="error_msg" *ngIf="signUpForm.controls['hNo'].touched">
                <span *ngIf="signUpForm.controls['hNo'].errors['required']">Field is required</span>
              </span>
            </div>

            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Mobile No</label>
              <input type="tel" class="form-control" placeholder="Enter your Mobile No"
              formControlName="mobileNo" pattern="[0-9]{10}">
              <span class="error_msg" *ngIf="signUpForm.controls['mobileNo'].touched &&
                          signUpForm.controls['mobileNo'].invalid">
                <span *ngIf="signUpForm.controls['mobileNo'].errors['required']">Field is required</span>
                <span *ngIf="signUpForm.controls['mobileNo'].errors['pattern']">Pls enter 10 digits</span>
              </span>
            </div>

            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">State</label>
              <input type="text" class="form-control" placeholder="Enter your State"
              formControlName="state">
              <span class="error_msg" *ngIf="signUpForm.controls['state'].touched &&
                          signUpForm.controls['state'].invalid">
                <span *ngIf="signUpForm.controls['state'].errors['required']">Field is required</span>
                <span *ngIf="signUpForm.controls['state'].errors['pattern']">Field name is required</span>
              </span>
            </div>

            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">City</label>
              <input type="text" class="form-control" placeholder="Enter your city"
              formControlName="city">
              <span class="error_msg" *ngIf="signUpForm.controls['city'].touched &&
                          signUpForm.controls['city'].invalid">
                <span *ngIf="signUpForm.controls['city'].errors['required']">Field is required</span>
                <span *ngIf="signUpForm.controls['city'].errors['pattern']">Field is required</span>
              </span>
            </div>

            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Date of Birth</label>
              <input type="date" class="form-control" formControlName="dob">
              <span class="error_msg" *ngIf="signUpForm.controls['dob'].touched">
                <span *ngIf="signUpForm.controls['dob'].errors['required']">Field is required</span>
                <span *ngIf="signUpForm.controls['dob'].errors['pattern']">Field is required</span>
              </span>
            </div>

            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">Password</label>
              <input type="password" class="form-control" placeholder="Enter you password" formControlName="password">

              <span class="error_msg" *ngIf="signUpForm.controls['password'].touched &&
                signUpForm.controls['password'].invalid">
                <span *ngIf="signUpForm.controls['password'].errors['required']">Password is required</span>
                <span *ngIf="signUpForm.controls['password'].errors['pattern']">Password can have alphabets, digits @ _ #</span>
                <span *ngIf="signUpForm.controls['password'].errors['minlength']">Password should be min 5 chars</span>
                <span *ngIf="signUpForm.controls['password'].errors['maxlength']">Password should be max 15 chars</span>
              </span>
            </div>
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">Re-Password</label>
            
              <input type="password" class="form-control" placeholder="Enter your password again" formControlName="repassword">
            </div>
            <div class="mb-3">
                <input type="submit" class="btn btn-primary" value="Sign Up" [disabled]="!signUpForm.valid">
            </div>
            <div class="mb-3">
              Already Registered? <a routerLink="">Login Here</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
    </form>
  </div>
